@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: url("./images/bg-intro-mobile.png"), hsl(0, 100%, 74%);
}

body .container {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}

article,
.form__container .subscription__info {
  text-align: center;
}

article {
  line-height: 1.5;
  color: #fff;
}

article h1 {
  margin: 5rem auto 1rem;
}

article p {
  margin-bottom: 3rem;
}

.form__container {
  margin-bottom: 6rem;
}

.form__container .subscription__info {
  padding: 1rem 3rem;
  background-color: hsl(248, 32%, 49%);
  border-radius: 10px;
  margin-bottom: 2rem;
  color: #fff;
}

.subscription__info > p span {
  font-weight: 700;
}

form,
.form__container .subscription__info {
  box-shadow: 0 10px 3px rgba(0, 0, 0, 0.252);
}

form {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
}

form > div div {
  margin-bottom: 1rem;
}

form label {
  display: flex;
  align-items: center;
  border: 1px solid #8080804b;
  border-radius: 5px;
  padding: 1rem 1rem;
  margin-bottom: .2rem;
}

label input,
label img {
  display: block;
}

label img { /* error icon */
  width: 15px;
}

.error__message { /* error message */
  color: hsl(0, 100%, 74%);
  text-align: end;
  font-style: italic;
  font-size: 0.7rem;
}

form input {
  padding-right: 1rem;
  border: none;
  outline: none;
}

form input,
form button {
  width: 100%;
  border-radius: 5px;
}

form button {
  border: none;
  background-color: hsl(154, 59%, 51%);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.42);
  letter-spacing: 1px;
  cursor: pointer;
  padding: 1rem;
}

form button:hover {
  background-color: hsl(156, 58%, 69%);
}

form > p { /* terms and conditions paragraph */
  color: hsl(246, 25%, 77%);
  font-size: 0.7rem;
  font-weight: 600;
  margin-bottom: 1rem;
  padding: 1rem 1rem 0;
  text-align: center;
}

form > p span {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
}

label img {
  display: none;
}

.error {
  border: 1px solid red;
}

.error-icon {
  display: block;
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    background-image: url("./images/bg-intro-desktop.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  body .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    width: 90%;
  }

  article {
    text-align: start;
    width: 50%;
    padding-right: 2rem;
  }

  article h1 {
    font-size: 2.5rem;
  }

  article p {
    font-size: 0.8rem;
  }
  .form__container {
    width: 45%;
  }
  .form__container .subscription__info {
    font-size: 0.9rem;
  }

  form {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 1025px) {
  body {
    background-image: url("./images/bg-intro-desktop.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  body .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
  }

  article {
    text-align: start;
    width: 45%;
    padding-right: 2rem;
  }

  article h1 {
    font-size: 3rem;
  }

  .form__container {
    width: 50%;
  }

  form {
    padding: 2rem;
  }

  label {
    padding: 0 auto
  }

  /* form input {
    padding: .5rem 1rem;
  } */

  label img {
    width: 20px;
  }
}
